*{
    background-color: #04005e;
    color: white;
    font-family: Century Gothic;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    width: 90vw;
    margin: 5rem auto;
    max-width: 1170px;
}


#title{
    
        color: aqua;
        font-weight: bold;
        text-align: center;
        font-size: 75px;
        border-bottom: 30px;
      
}

.content{
    display: grid;
    grid-template-columns: 1fr;
}

.phone{
    width: 300px;
    float: left; 
    border-radius: 10px;
    margin-bottom: 0;

}
.time1{margin-left: 50px;}
.time{margin-left: 10px;}
.Lorem{
    margin-left: 50px;
    display: block;
}
.Lorem,.end {
    color: #8797df; 
    font-family: Century Gothic; 
    font-size: large;
}

#survey{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 50px;
    padding: 3px;
    font-family: Century Gothic;
    background-color:#440bd4;
    border-radius:10px;
    border-color: black;
    border-width: 1px;
    cursor:pointer;
}
#survey:link, #survey:visited {
    background-color: #ee54f3;
    color: blueviolet;
    padding: 50px;
    text-align: center;
    text-decoration: none;
     }
#survey:hover, #survey:active {
    background-color: #ee54f3;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35 );
    } 
    #survey:active {
        opacity: 0.7;
    } 

.launch-time{
    display: flex;
    margin-top: 20px;
    color: #8797df; 
    font-family: Century Gothic; 
    font-size: 45px;
    padding: 20px;
  
}
.launch-time div{
    flex-basis: 100px;  
}
.launch-time div p {
    font-size: 60px;
    margin-bottom:-14px;
}
.launch-time div span {
    margin: 3px;
    font-size: 20px;
}

.end{
    position: absolute;
    bottom: 0;
    right:500px;}